*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.total{
    background-color: navy;
    width: 100%;
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.total p{
    font-size: 16px;
}


.listgroup{
    margin-top: 50px;
    margin-bottom: 200px;
}
